@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico');

.fon {
    height: 50vh;
    background: url('images/fon1.jpg');
    background-size: cover;
}

.navigator{
    position: absolute;
    z-index: 4;
}

@media (max-width: 768px){
    .navigator {
        margin-top: 70px;
    }
}

.nav-link {
    font-weight: 700;
}

@media (max-width: 768px){
    .nav-link {
        padding: 2px;
        font-size: 12px;
    }
}

.active {
    color: hsla(175, 95%, 31%, 0.45) !important;
    font-weight: 700;
}

.header {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-top: 20px;
}

.header h1 {
    font-family: Pacifico;
    font-size: 5em;
}

@media (max-width: 768px){
    .header h1 {
        margin-top: 5px;
        font-size: 50px;
    }
}

.img{
    background-position: center;
    transition: all 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: all 1s ease-in-out;
    box-shadow: 1px 1px 1px 1px hsla(175, 94%, 31%, 0.5);

}

.img:hover {
    box-shadow: 1px 1px 10px 10px hsla(175, 94%, 31%, 0.5);
}

.conteiner {
    margin-top: -50px;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 0 auto;
    width: 80%;
}

.content h1{
    font-family: Lobster;
    text-align: center;
}

.work {
    height: 100px;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: url('images/fon1.jpg');
}

.work h1 {
    font-family: Pacifico;
    text-align: center;
}

.work a h1 {
    margin-top: 20px;
    color: #000;
}

.work a:hover{
    text-decoration: none;
    color: hsla(175, 94%, 31%, 0.98);

}